<a href="https://colab.research.google.com/github/IkkenSakai/IPUT_Python_Programming_2023/blob/inclass_notes/23_07_class_tk230422_SakaiIKKEN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
制御文 - if, for, while
制御分をとにかくマスター！！ = 説明できるようにする
'''
#structure of for loop in Python
#use "in" after "for"

#____(___) <-- function

#range(number)

#range(第１引数, 第２引数, 第３引数)
'''
第１ - 開始値(二番目に省略可)
第２ - 停止値
第３ - 間隔 (１番目に省略可)
'''

#x = x + i = x += i

#for と while の使い分け
'''
for
1 - 繰り返す回数が決まっている
2 - リストの処理

while
1 - 繰り返す数が未定
2 - 繰り返し条件がいつか必ずFalseになる
'''

#リスト
#name = python --> name[0][1][2][3][4][5]に一文字一文字分けられる(添字j)

'\n第１ - 開始値\n第２ - 停止値\n第３ - 間隔 (１番目に省略可)\n'

In [ ]:
for i in range(12):
    print(i + 1, "月")

1 月
2 月
3 月
4 月
5 月
6 月
7 月
8 月
9 月
10 月
11 月
12 月

In [ ]:
#range(2)
print("in case of range(2)")
for i in range(2):
    print(i+1, "月")

#range(3, 6)
print("in case of range(3,6)")
for i in range(3,6):
    print(i + 1, "月o")

#range(0, 10, 2)
print("in case of range(0, 10, 2)")
for i in range(0, 10, 2):
    print(i + 1, "月")

in case of range(2)
1 月
2 月
in case of range(3,6)
4 月o
5 月o
6 月o
in case of range(0, 10, 2)
1 月
3 月
5 月
7 月
9 月

In [ ]:
#7-1
n = 0
for i in range(1, 101, 1): #第２引数の101に注意！！
    n = n + i #n += i
print(n)

5050

In [ ]:
#7-1 advance

#...
sum(range(1, 101))

5050

In [ ]:
i = 0
while(i < 5):
    print(i)
    i += 1 #

0
1
2
3
4

In [ ]:
#7-2
n = 0
i = 1
while i <= 100:
    n += i
    i += 1
print(n)

5050

In [ ]:
for chr in "Python":
    print(chr)

P
y
t
h
o
n

In [ ]:
list_Python = ["P", "y", "t", "h", "o", "n"]
list_number = [1, 2.3, 0.5, -3]
print(list_Python)
print(list_Python[3])
print(list_number)
print(list_number[-1]) #[-1]で一番最後を取り出せる

['P', 'y', 't', 'h', 'o', 'n']
h
[1, 2.3, 0.5, -3]
-3

In [ ]:
#7-3
professor = ["斎藤亜紀", "鈴木", "駒井", "上條", "三宅", "大関"]
i = 0
for num in professor:
    print("研究室", i+10 , "には" , num , "先生がいます")
    i += 1

研究室 10 には 斎藤亜紀 先生がいます
研究室 11 には 鈴木 先生がいます
研究室 12 には 駒井 先生がいます
研究室 13 には 上條 先生がいます
研究室 14 には 三宅 先生がいます
研究室 15 には 大関 先生がいます

In [ ]:
#7-3 advance
professor = ["斎藤亜紀", "鈴木", "駒井", "上條", "三宅", "大関"]
i = 0
for num in professor:
    n = str(i + 10)
    print("研究室" + n + "には" + num + "先生がいます")
    i += 1

研究室10には斎藤亜紀先生がいます
研究室11には鈴木先生がいます
研究室12には駒井先生がいます
研究室13には上條先生がいます
研究室14には三宅先生がいます
研究室15には大関先生がいます